<!DOCTYPE html>
<body>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ pet }}</title>
        <link rel="stylesheet" href="images/style.css">
    </head>
<body>
    <div id="parent">
        <div id="first">
            <img id="pic" src="images\{{ id }}.png" alt="Фото">
        </div>
        <div id="second">
            <table id="table2">
                <tr>
                    <td>Кличка</td>
                    <td>{{ name }}</td>
                <tr>
                <tr>
                    <td>Чип / пол</td>
                    <td>{{ cipFem }}</td>
                </tr>
                <tr>
                    <td>Окрас</td>
                    <td>{{ sign }}</td>
                </tr>
                <tr>
                    <td>Характер, повадки</td>
                    <td>{{ character }}</td>
                </tr>
            </table>
        </div>
    </div>
 
</body>
   

</html>
</body>